<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" >HackedRecipe</a>
  </nav>    
<br>


<div *ngIf="home">
<div class="container">
    <input [(ngModel)]="filterData" (keyup.enter)="filterRecipe()" type="test" placeholder="Enter Recipe...">
    <button class="btn-img" (click)="filterRecipe()"><img src="../../assets/images/Icon feather-search.png"></button>
</div>

<div class="container">
<div class="row mt-5">
    <div class="col-12 col-md-3" *ngFor="let recipe of recipeList">
        <div class="card text-center rounded border-dark">
            <div class="card-header">{{recipe.label}}</div>
            <img class="card-img-top" loading="lazy " [src]="recipe.image" alt="Card image cap">
            <div class="card-body">
                <div class="card-title text-left">
                    <h6>{{recipe.name}}</h6>
                    <h6>{{recipe.price}}</h6>
                </div>
                <div style="font-size: small;" class="text-left">{{recipe.description}}</div>
                <button (click)="viewRecipe(recipe)">view</button>
            </div>
                
        </div>
    </div>
</div>
</div>
</div>
<div *ngIf="!home">
    <a (click)="back()"><i class="fas fa-arrow-left"></i>Go Back
    </a>
    <app-recipe-item></app-recipe-item>
</div>
